body {
    background-color: #000;
    color: #fff;
}

.centered-text {
    text-align: center;
}

.line {
    width: 100%;
    height: 3px;
    background-color: red;
    border: none;
}

.text {
    color: yellow;
    font-size: 4;
    text-align: center;
}

.smaller_line {
    width: 50%;
    height: 5px;
}

.red-text {
    color: red;
}

.blue-text {
    color: blue;
}

.green-text {
    color: green;
}

.underlined-text {
    border-bottom: 1px solid #fff;
}

.text-right {
    text-align: right;
}

.last-line {
    width: 100%;
    height: 3px;
    background-color: blue;
    border: none;
}

.image-1 {
    width: 250px;
}

.image-2 {
    width: 300px;
    margin-right: 20px;
}

.image-3 {
    display: block;
    width: 200px;
    margin: 10px auto 0;
}
